<header class="bg-white/80 backdrop-blur-md shadow-md sticky top-0 z-50">
    <div class="container mx-auto flex items-center justify-between py-4 px-4">
         <!-- Logo -->
        <a href="{% url 'home' %}" class="text-2xl font-bold text-slate-800">My blog</a>
    
        <!-- Menu -->
        <nav class="flex items-center space-x-4">
            <a href="{% url 'home' %}" class="text-slate-700 hover:text-slate-900">Home</a>
            <a href="{% url 'post_list' %}" class="text-slate-700 hover:text-slate-900">Posts</a>
        
            {% if user.is_authenticated %}
                <span class="text-slate-700">Hello, {{ user.username }}!</span>
                <form method="post" action="{% url 'logout' %}" class="inline">
                    {% csrf_token %}
                    <button type="submit" class="text-slate-700 hover:text-slate-900">Exit</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="text-slate-700 hover:text-slate-900">Login</a>
                <a href="{% url 'register' %}" class="text-slate-700 hover:text-slate-900">Registration</a>
            {% endif %}
        </nav>
    </div>
</header>
