<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <i class="bi bi-journal-text"></i> BlogHub
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Все посты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О платформе</a>
                </li>
            </ul>
            <div class="d-flex gap-2 ms-lg-3 mt-2 mt-lg-0">
                <a class="btn btn-login" href="{% url 'login' %}">Логин</a>
                <a class="btn btn-register" href={% url 'register' %}>Регистрация</a>
            </div>
        </div>
    </div>
</nav>
