{% extends 'base.html' %}
{% load static %}

{% block content %}
    <article>
        <h1>{{ post.title }}</h1>
        <p>{{ post.content }}</p>
        <small>
            Автор: {{ post.author }} | 
            Обновлено: {{ post.updated_at }}
        </small>
    <form method='post' action='{% url "post_delete" pk=post.pk %}'>
        {% csrf_token %}
        <button type='submit'>Удалить</button>
    </form>
        <a href="{% url 'post_list' %}">←Назад к списку</a>
    </article>
{% endblock %}
