{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero секция -->
<div class="hero-section">
    <div class="container">
        <h1>Добро пожаловать на BlogHub</h1>
        <p>Платформа для обмена идеями и знаниями</p>
    </div>
</div>
<!-- Посты -->
<div class="container container-custom mb-5">
    <div class="row">
        <!-- Пост -->
        {% for post in posts %}
        <div class="col-lg-6 col-md-12">
            <div class="post-card">
                <div class="post-header">
                    <h2 class="post-title">{{ post.title }}</h2>
                    <div class="post-meta">
                        <span><i class="bi bi-calendar3"></i>{{ post.updated_at }}</span>
                        <span><i class="bi bi-person-circle"></i>{{ post.author }}</span>
                    </div>
                </div>
                <div class="post-body">
                    <p class="post-description">{{ post.content|truncatewords:30 }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn-read-more">
                        Подробнее <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        {% empty %}
        <div class='col-12'>
            <p class='text-center'>Постов пока нет</p>
        </div>
        {% endfor%}
    </div>
</div>
{% endblock %}
